// config.js

export const servers = [
  { url: "https://api.arliai.com", description: "arliopenai" },
  { url: "https://amp1.mooo.com:11444", description: "ollama" },
  { url: "https://my-openai-gemini-demo.vercel.app", description: "gemopenai" },
  { url: "http://pind.mooo.com:11434", description: "ollama" },
  { url: "http://localhost:11434", description: "ollama" },
  { url: "http://localhost:8080", description: "llama.cpp" },
];

export const OPENAI_TOKEN = "%%OPENAI_TOKEN%%"; //
//export const GEMINI_TOKEN = '%%GEMINI_TOKEN%%'; //
export const GEMINI_TOKEN = "AIzaS....";
export const ARLIAI_TOKEN = "5ea1bb.....";
export const API_BEARER = "your_token_here";
